<article class="default classic-large bg-box ctag {{#primary_tag}}ctag-{{slug}}{{/primary_tag}} {{#unless feature_image}}no-image{{/unless}} post-access-{{visibility}} {{#if featured}}featured{{/if}}">
     
    <div class="post-format-image epcl-flex">
        <div class="meta meta-data">
            {{#primary_tag}}
                <div class="tags fill-color">
                    <a href="{{url}}" class="primary-tag ctag ctag-{{slug}}" data-id="ctag-{{slug}}">{{name}}</a>
                </div>
            {{/primary_tag}}
            
            <time class="meta-info" datetime="{{date format="YYYY-MM-DD"}}">
                {{> "icons/calendar-icon"}}
                {{date format="MMM DD, YYYY"}}
            </time>
            
            <div class="min-read meta-info">
                {{> "icons/reading-icon"}}
                {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
            </div>
            
            {{!-- Difficulty rating: star-1, star-2, or star-3 classes control filled stars --}}
            <div class="difficulty meta-info">
                {{> "icons/medal-icon"}}
                <span class="name">Difficulty:</span>
                <div class="rating star-2">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>

        <div class="info"> 
            <header>        
                <h2 class="main-title title underline-effect">
                    <a href="{{url}}">{{title}}</a>
                </h2>
                {{#if featured}}
                    <a href="{{url}}" class="access-icon visibility-members meta-info tooltip hide-on-mobile" data-title="Featured Article" aria-label="Featured Article">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9998 17L6.12197 20.5902L7.72007 13.8906L2.48926 9.40983L9.35479 8.85942L11.9998 2.5L14.6449 8.85942L21.5104 9.40983L16.2796 13.8906L17.8777 20.5902L11.9998 17Z"></path></svg>
                    </a>
                {{/if}}
            </header>
            
            <div class="post-excerpt">
                {{excerpt words="30"}}
                <div class="clear"></div>              
            </div>
            
            <footer class="bottom">
                <div class="meta bottom epcl-flex">
                    <div class="tags">
                        {{#foreach tags limit="3"}}
                            <a href="{{url}}" class="ctag ctag-{{slug}}" data-id="ctag-{{slug}}">{{name}}</a>
                        {{/foreach}}
                    </div>
                    
                    {{#primary_author}}
                        <a href="{{url}}" class="author">
                            {{#if profile_image}}
                                <img class="author-image cover" loading="lazy" fetchpriority="low" decoding="async" src="{{img_url profile_image size="s"}}" alt="Image of: {{name}}">
                            {{/if}}
                            <span class="author-name">{{name}}</span>
                        </a>
                    {{/primary_author}}
                </div>
            </footer>
        </div>
    </div>

    <div class="clear"></div>

</article>