{{!< default}}

{{#post}}

<article class="{{post_class}} single">
    
    <div class="grid-container">
        <div class="bg-box section">
            <header class="post-header">
                {{#match @page.show_title_and_feature_image "!=" false}}
                    <h1 class="main-title title large">{{title}}</h1>
                    
                    {{#if feature_image}}
                        <div style="margin-top: 30px;">
                            <img src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" style="width: 100%; border-radius: var(--epcl-medium-border-radius);">
                        </div>
                    {{/if}}
                {{/match}}
            </header>

            <div class="post-content text" style="margin-top: 40px; font-size: 17px; line-height: 1.8;">
                {{content}}
            </div>
        </div>
    </div>

</article>

{{/post}}